::-webkit-scrollbar {
  display: none;
}

body {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.wrapper {
  background-color: #fff;
  border-radius: 16px;
  box-shadow: -72px 66px 39px rgba(150, 150, 150, 0.02),
    -40px 37px 33px rgba(150, 150, 150, 0.08),
    -18px 17px 24px rgba(150, 150, 150, 0.13),
    -4px 4px 13px rgba(150, 150, 150, 0.15),
    0px 0px 0px rgba(150, 150, 150, 0.15);
}
